#!/bin/bash

# .envrc를 상위 디렉토리에서도 사용할 경우 source_up을 실행
[ ! -z "$(type -t source_up)" ] && source_up

# 잠금을 위해 사용할 Redis 인스턴스 이름
export REDIS_NAME="lacti-simple-blog-redis"

# SQLite 데이터베이스 파일을 보관할 S3 Bucket 이름
export BUCKET_NAME="simple-blog-sqlite-db"

# API Gateway 사용자 지정 도메인에 부여할 루트 도메인
export ROOT_DOMAIN=lacti.link

# API Gateway 사용자 지정 도메인에 부여할 서브 도메인
export SUB_DOMAIN=blog
